* {
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #007bff transparent;
}

.app-container {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.search-bar {
  width: 70%;
  max-width: 600px;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  height: calc(100vh - 80px);
}


.card {
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
}

.stats-card,
.add-blog-card {
  position: sticky;
  top: 20px;
}

h2 {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

.blog-item {
  text-align: left;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.blog-item h3 {
  color: #007bff;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.created-at {
  font-size: 0.85em;
  color: #666;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  background-color: #f8f8f8;
}

.input-field:focus {
  border-color: #007bff;
}

.btn{
  padding: 12px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-blog-button {
  background-color: #007bff;
  border-radius: 25px;
  font-size: 16px;

}

.back-button {
  background-color: #ff006a;
  border-radius: 25px;
  font-size: 12px;
}

.add-blog-button:hover {
  background-color: #0056b3;
}

.add-blog-button:active {
  background-color: #004494;
}

.blog-list-card {
  max-width: 100%;
}

/* Global scrollbar styles for WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}


.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}